/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: #666;
  }
}

ul {
  list-style: none;
}


input {
  display: block;
  width: 100%;
  padding: .4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: .5rem;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

table th {
  background: var(--light-color);
}
table td {
  text-align: center;
  border: 1px solid var(--dark-color);
}

.button {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: .4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: .5rem;
  transition: opacity .2s;
  outline: none;

  &__back{
    position: absolute;
    top: 62px;
    width: 100px;
    height: 26px;
  }

  &:disabled {
    background: var(--dark-color);
    color: #fff;
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    opacity: .8;
  }
}

.button-block {
  display: block;
  width: 100%;
}

.button-primary {
  background: var(--primary-color);
  color: #fff;
}

.loader {
  border: 16px solid var(--light-color); /* Light grey */
  border-top: 16px solid var(--primary-color); /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
  position: relative;
  top: 30%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.not-found{
  text-align: center;
  width: 100%;
  font-weight: bold;
}